:root {
    --form-width-on-desktop: 60%;
    --btn-container-width-on-desktop: 40%;

    --form-height-on-mobile: 90%;
    --btn-height-width-on-mobile: 10%;

    --container-animation-speed: .5s;
    --container-animation-speed-mobile: .4s;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin: 1rem;
    background-color: #1871DB;
    width: 50rem;
    height: 30rem;
    border-radius: 3rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.slice-block {
    width: var(--form-width-on-desktop);
    background-color: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 3rem;
    position: absolute;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slice-block.left {
    animation: goLeft var(--container-animation-speed) ease-out forwards;
}

.slice-block.right {
    animation: goRight var(--container-animation-speed) ease-out forwards;
}

@keyframes goLeft {
    0% {
        width: var(--form-width-on-desktop);
        left: var(--btn-container-width-on-desktop);
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: var(--form-width-on-desktop);
        left: 0;
    }
}

@keyframes goRight {
    0% {
        width: var(--form-width-on-desktop);
        left: 0
    }

    50% {
        width: 100%;
        left: 0
    }

    100% {
        width: var(--form-width-on-desktop);
        left: var(--btn-container-width-on-desktop);
    }
}

.btn-container {
    width: var(--btn-container-width-on-desktop);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.5rem;
}

.btn-container.left {
    position: absolute;
    left: 0;
}

.btn-container.right {
    position: absolute;
    left: var(--form-width-on-desktop);
}

.btn-container-header {
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

.change-form-btn {
    border: none;
    cursor: pointer;
    background-color: white;
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    transition: background-color .2s ease-out, color .1s ease-out;
}

.change-form-btn:hover {
    background-color: #DB17A1;
    color: white;
}

.btn-container-subheader {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* iPad (портретный режим) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .change-form-btn:hover {
        background-color: white;
        color: #1871DB;
    }

    .form-container {
        margin-bottom: 7rem;
    }
}

/* iPad (альбомный режим) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

/* iPhone (портретный режим) */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-height: 932px) {
    .btn-container {
        display: flex;
        gap: 0;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: var(--btn-height-width-on-mobile);
        width: 100%;
    }

    .btn-container-header {
        display: none;
    }

    .btn-container-subheader {
        display: none;
    }

    .form-container {
        margin-bottom: 3rem;
        height: 35rem;
    }

    .slice-block {
        position: absolute;
        background-color: white;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        height: var(--form-height-on-mobile);
        width: 100%;
    }

    .btn-container.left {
        left: 0;
        position: absolute;
        top: 0;
    }

    .btn-container.right {
        left: 0;
        position: absolute;
        top: var(--form-height-on-mobile);
    }


    .slice-block.left {
        animation: goUp var(--container-animation-speed-mobile) ease-out forwards;
    }

    .slice-block.right {
        animation: goDown var(--container-animation-speed-mobile) ease-out forwards;
    }

    @keyframes goUp {
        0% {
            top: var(--btn-height-width-on-mobile);
            height: var(--form-height-on-mobile);
        }

        50% {
            top: 0;
            height: 100%;
        }

        100% {
            top: 0;
            height: var(--form-height-on-mobile);
        }
    }

    @keyframes goDown {
        0% {
            top: 0;
            height: var(--form-height-on-mobile);
        }

        50% {
            height: 100%;
            top: 0;
        }

        100% {
            top: var(--btn-height-width-on-mobile);
            height: var(--form-height-on-mobile);
        }
    }

    .change-form-btn {
        background-color: transparent;
        width: auto;
        height: 2rem;
        border-radius: 0;
        box-shadow: none;
        transition: none;
        color: white;
        text-decoration: underline;
        font-weight: lighter;
        font-size: larger;
    }

    .change-form-btn:hover {
        background-color: transparent;
    }
}

/* iPhone (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 926px) {
    .form-container {
        width: 40rem;
        height: 20rem;
        font-size: 1rem;
    }

    .change-form-btn {
        width: 80%;
    }
}