.container {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.salesContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.hero {
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
}

.highlightBlue {
    background-color: rgba(39, 128, 245, 0.2);
    padding: .1rem .3rem;
}

.highlightPink {
    background-color: rgba(219, 24, 161, 0.2);
    padding: .1rem .3rem;
}

.joinBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    width: 100%;
}

.joinBtn {
    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    background-color: #DB17A1;
    color: white;
    font-size: 1.2rem;
    transition: background-color .1s ease-out;
    cursor: pointer;
}

.joinBtn:hover {
    background-color: #b11283;
}

/* iPad (портретный режим) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .heroContainer, .joinBtnContainer {
        padding: 0.5rem 0;
    }
}

/* iPhone (портретный режим) */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-height: 932px) {
    .hero {
        font-size: 1rem;
        padding: 1rem 0;
    }

    .joinBtnContainer {
        padding: 2rem 0;
    }
}

/* iPhone (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 932px) {
    .hero {
        padding: 1rem 0;
    }

    .joinBtnContainer {
        padding: 2rem 0;
    }
}
