.sales-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
}

.sale-banner {
    border-radius: 0.8rem;
    cursor: pointer;
    overflow: hidden;
}

.sale-img {
    height: 100%;
}

.square {
    display: none;
}

.up-left {
    grid-row: 1;
    grid-column: 1;
    background-color: #6289FF;
}

.down-left {
    grid-row: 2;
    grid-column: 1;
    background-color: #EC5D8F;
}

.main {
    grid-row: 1 / 3;
    grid-column: 2;
    background-color: #6D48DF;
}

.up-right {
    grid-row: 1;
    grid-column: 3;
    background-color: #FF6262;
}

.down-right {
    grid-row: 2;
    grid-column: 3;
    background-color: #4FAB44;
}

/* iPad (портретный режим) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .sales-container {
        width: 70%;
        aspect-ratio: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .up-left {
        grid-row: 3;
        grid-column: 1;
        background-color: #6289FF;
    }

    .down-left {
        grid-row: 4;
        grid-column: 1;
        background-color: #EC5D8F;
    }

    .main {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        background-color: #6D48DF;
    }

    .up-right {
        grid-row: 3;
        grid-column: 2;
        background-color: #FF6262;
    }

    .down-right {
        grid-row: 4;
        grid-column: 2;
        background-color: #4FAB44;
    }
}

/* iPhone (портретный режим) */
@media only screen and (orientation: portrait) and (min-device-width: 320px) and (max-device-height: 932px) {
    .sales-container {
        width: 80%;
        aspect-ratio: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .sale-banner {
        aspect-ratio: 3 / 2;
    }

    .up-left {
        grid-row: 2;
        grid-column: 1;
        background-color: #6289FF;
    }

    .down-left {
        grid-row: 3;
        grid-column: 1;
        background-color: #EC5D8F;
    }

    .main {
        grid-row: 1;
        grid-column: 1;
        background-color: #6D48DF;
    }

    .up-right {
        grid-row: 4;
        grid-column: 1;
        background-color: #FF6262;
    }

    .down-right {
        grid-row: 5;
        grid-column: 1;
        background-color: #4FAB44;
    }
}

/* iPhone (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) and (max-device-width: 932px) {
    .sales-container {
        width: 80%;
        aspect-ratio: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .up-left {
        grid-row: 1;
        grid-column: 1;
        background-color: #6289FF;
        aspect-ratio: 1;
    }

    .up-left > .sale-img.default, .down-left > .sale-img.default, .up-right > .sale-img.default, .down-right > .sale-img.default {
        display: none;
    }

    .up-left > .sale-img.square, .down-left > .sale-img.square, .up-right > .sale-img.square, .down-right > .sale-img.square {
        display: block;
    }

    .down-left {
        grid-row: 2;
        grid-column: 1;
        background-color: #EC5D8F;
        aspect-ratio: 1;
    }

    .main {
        grid-row: 1 / 3;
        grid-column: 2 / 5;
        background-color: #6D48DF;
        aspect-ratio: 3 / 2;
    }

    .up-right {
        grid-row: 3 / 5;
        grid-column: 1 / 3;
        background-color: #FF6262;
        aspect-ratio: 1;
    }

    .down-right {
        grid-row: 3 / 5;
        grid-column: 3 / 5;
        background-color: #4FAB44;
        aspect-ratio: 1;
    }
}